.holds-user-profile {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user-username {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-bottom: 1px solid black;
}

/* .profile-pic {
  width: 10%;
  border-radius: 25%;
} */

/* .username-h1{
    
} */

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.user-bio-p {
  text-align: center;
}

.user-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.user-stats-3parts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.user-previous-sessions-and-sends{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-previous-sends{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.user-previous-sessions{
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 45%;
}
.previous-sends{
    margin-top: 1rem;
}

.previous-sessions{
    margin-top: 1rem;
}